body {
    background-color: white;
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Comfortaa', cursive;
}

hr {
    border-style: none;
    border-top: dotted;
    background-color: #ccedd2;
    border-color: cadetblue;
    border-width: 5px;
    width: 5%;
    margin: 25px auto;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    font-family: 'Permanent Marker', cursive;
    margin: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Lacquer', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
}

h3 {
    color: #11999E;
    margin-top: 20px;
}

a {
    color: #11999E;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6
}

p {
    font-size: 0.9rem;
    margin: 0;
    color: #40514E;
}

.squareDivs {
    height: 200px;
    width: 200px;
}

.topCloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottomCloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

#profileImage {
    border-radius: 100%;
    height: 150px;
    position: absolute;
    top: 40px;
    left: 40px;
}

#topContainer {
    background-color: #EAF6F6;
    border: 0px solid black;
    margin: 0;
    padding: 20px;
    height: auto;
    width: auto;
    position: relative;
    padding-top: 100px;
}

.profile-description {
    width: 50%;
    display: inline-block;
}

.skill-image {
    height: 100px;
    margin-right: 30px;
    float: left;
}

.skill-image2 {
    height: 100px;
    margin-right: 30px;
    float: right;
}

.skill-row {
    width: 50%;
    margin: 40px auto;
    text-align: left;
    line-height: 2;
}


.middle-container {
    padding-top: 20px;
}

.bottom-container {
    width: 100%;
    height: 150px;
    background-color: #66BFBF;
}

.contact-me {
    width: 50%;
    display: inline-block;
}

.footer-link {
    color: #11999E;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    position: relative;
    margin: 0 20px;
    top: 40px;
}

.footer-copy {
    font-size: 0.7rem;
    font-weight: normal;
    color: #EAF6F6;
    position: relative;
    top: 70px;
}