body {
    background-color: white;
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Comfortaa', cursive;
}

hr {
    border-style: none;
    border-top: dotted;
    background-color: #ccedd2;
    border-color: cadetblue;
    border-width: 5px;
    width: 20%;
    margin: 25px auto;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    margin-top: 0;
}

h2 {
    font-weight: bold;
}

h3 {
    margin-top: 20px;
}

p {
    
    margin: 0;
}

#intro {
    font-family: 'Lacquer', sans-serif;
}

.squareDivs {
    height: 200px;
    width: 200px;
}

.topCloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottomCloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

#profileImage {
    border-radius: 100%;
    height: 150px;
}

#topContainer {
    background-color: #beebe9;
    border: 0px solid black;
    margin: 0;
    padding: 20px;
    height: auto;
    width: auto;
    position: relative;
    padding-top: 100px;
}

.skill-image {
    height: 100px;
    margin-top: 20px;
}


.middle-container {
    padding-top: 20px;
}

.bottom-container {
}