body {
    background-color: #ccedd2;
}

hr {
    border-style: none;
    border-top: dotted;
    background-color: #ccedd2;
    border-color: cadetblue;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #66bfbf;
}

h3 {
    color: #66bfbf;
}

.circular {
    border-radius: 100%;
}